body {
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  background-color: black;
  color: white;
}

h1 {
  font-size: 3.8rem;
  color: white;
}

p {
  margin: 80px 0px;
}

.center {
  max-width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 140px;
}

.footer {
  font-size: 1rem;
}

.caption {
  font-size: 1rem;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

div img {
  display: block;
  max-width: 800px;
  max-height: 400px;
  margin: auto;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: white;
}

a:hover {
  border-bottom: 1px solid;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: space-between;

  opacity: 1;
  color: white;

  width: 100vw;
  z-index: 9999999;
}

span img {
  height: 1.3rem;
  width: 1.3rem;

  display: inline;
  transform: translateY(0.2rem);
}

.nav div {
  padding: 30px 30px;
}

.nav a {
  text-decoration: none;
  padding: 0px;
  color: white;
  background-color: transparent;
  width: initial;
  border-bottom: none;
}
